@charset "UTF-8";
.margin-left-20 {
  margin-left: 20px !important; }

.member-info {
  padding-top: 25px; }
  .member-info .member-list-search {
    height: 29px;
    float: right; }
  .member-info .con-left {
    float: left;
    height: 610px;
    border-right: 1px solid #dcdcdc;
    width: 80%;
    position: relative;
    padding-bottom: 46px; }
    .member-info .con-left .data-footer {
      position: absolute;
      bottom: 0;
      clear: both;
      padding-top: 10px;
      padding-right: 23px;
      line-height: 30px; }
      .member-info .con-left .data-footer .group-selector {
        height: 28px;
        padding-top: 3px; }
      .member-info .con-left .data-footer .col-selector {
        display: inline-block;
        float: left;
        margin-top: 2px;
        margin-left: 15px; }
      .member-info .con-left .data-footer label {
        font-weight: normal; }
      .member-info .con-left .data-footer .dropup {
        margin-left: 20px; }
  .member-info .content {
    height: 612px;
    width: 960px;
    border: 1px solid #dcdcdc;
    border-top: none; }
  .member-info .add-catalog {
    margin-left: 55px; }
  .member-info .tab-title {
    color: #f08300; }
  .member-info .icon-add {
    margin: 6px 9px 5px 12px;
    background: url(../images/icon-add.png) no-repeat; }
  .member-info .data-content {
    float: left; }
  .member-info .data-row {
    height: 72px;
    border-bottom: 1px dashed #dcdde1; }
    .member-info .data-row td {
      vertical-align: top; }
    .member-info .data-row:nth-child(6) {
      border-bottom: none; }
  .member-info .data-footer {
    height: 46px;
    width: 765px;
    background-color: #f6f6f6; }
  .member-info .btn-check {
    width: 13px;
    height: 13px;
    margin: 18px auto auto 10px; }
  .member-info .btn-check-all {
    margin: 6px auto auto 23px; }
  .member-info .img-header {
    width: 50px;
    height: 50px;
    border: 3px solid #dcdcdc;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 30px; }
  .member-info .show-detail {
    width: 80px;
    cursor: pointer;
    padding-top: 6px; }
    .member-info .show-detail .icon {
      display: inline-block;
      width: 13px;
      height: 13px; }
    .member-info .show-detail.on {
      color: #f08402; }
      .member-info .show-detail.on .icon-detail {
        background: url(../images/show-detail-on.png) no-repeat 5px; }
    .member-info .show-detail.off .icon-detail {
      background: url(../images/show-detail-off.png) no-repeat 5px; }
  .member-info .detail-item {
    padding-right: 20px; }
  .member-info .region {
    padding-left: 8px; }
  .member-info .nickname {
    min-width: 107px;
    margin-bottom: 10px;
    font-weight: 600; }
    .member-info .nickname .edit-icon {
      display: inline-block;
      height: 12px;
      width: 50px;
      background: url(../images/icon-edit.png) no-repeat 21px; }
  .member-info .block-member {
    margin-top: 16px; }
  .member-info .catalog-dropup ul {
    width: 108px; }
  .member-info .catalog-dropup .btn .caret {
    margin-left: 30px; }
  .member-info .catalog-dropup .btn {
    text-align: left; }
  .member-info .catalog-dropup.open .btn {
    color: #f08402; }
  .member-info .col-select {
    width: 73px; }
    .member-info .col-select > div {
      margin: 24px auto auto 23px;
      float: left; }
  .member-info .col-image {
    width: 51px; }
    .member-info .col-image label {
      font-weight: normal;
      padding-top: 4px; }
  .member-info .col-content {
    width: 526px; }
    .member-info .col-content > div {
      float: left;
      margin-top: 20px;
      padding-bottom: 10px; }
    .member-info .col-content .tag-detail .caret {
      cursor: pointer; }
    .member-info .col-content .tag-detail .tag {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      border: 1px solid #dedede;
      margin-right: 5px;
      color: #000000;
      position: relative;
      cursor: pointer; }
      .member-info .col-content .tag-detail .tag em {
        display: none; }
      .member-info .col-content .tag-detail .tag:hover em {
        display: block;
        color: #f08402;
        position: absolute;
        right: -5px;
        top: -5px; }
    .member-info .col-content .tag-detail .tag-spans {
      display: inline-block; }
  .member-info .col-group {
    width: 128px;
    position: relative; }
    .member-info .col-group button {
      margin-right: 20px;
      margin-top: 32px; }
    .member-info .col-group ul.dropdown-menu {
      min-width: 115%; }
  .member-info .ctg-list {
    width: 20%;
    float: right; }
    .member-info .ctg-list .blacklist {
      padding: 9px 20px 9px 20px;
      font-size: 12px;
      cursor: pointer;
      background: #f6f6f6;
      border-bottom: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
      margin-top: -1px; }
      .member-info .ctg-list .blacklist.curr {
        color: #f08402; }
  .member-info .search {
    padding-right: 20px; }
  .member-info .catalog-list-item {
    height: 35px;
    width: 100%; }
    .member-info .catalog-list-item .ctg-content {
      padding: 9px 20px 9px 20px;
      font-size: 12px;
      cursor: pointer; }
    .member-info .catalog-list-item:hover {
      color: #f08402; }
      .member-info .catalog-list-item:hover .icon-remove-active {
        width: 10px;
        height: 20px;
        background: url(../images/icon-remove-active.png) no-repeat 0px 3px; }
      .member-info .catalog-list-item:hover .icon-edit-active {
        width: 14px;
        height: 20px;
        margin-right: 5%;
        background: url(../images/icon-edit-active.png) no-repeat 0px 4px; }
    .member-info .catalog-list-item.curr {
      color: #f08402; }
    .member-info .catalog-list-item.group-header {
      background-color: #f6f6f6;
      border-bottom: 1px solid #dcdcdc; }

.no-member {
  font-size: 14px;
  color: red;
  float: left;
  padding-top: 29px;
  padding-left: 29px; }

.member-create-modal .nsw-label {
  text-align: left;
  padding-left: 15px;
  padding-top: 3px; }
.member-create-modal .input {
  padding-left: 0; }

/*2016803 第二期改版*/
.show-detail {
  padding: 17px; }
  .show-detail .popover > .arrow {
    top: 28%; }
  .show-detail dl {
    overflow: hidden; }
    .show-detail dl dt, .show-detail dl dd {
      float: left; }
    .show-detail dl dt img {
      height: 109px;
      width: 109px; }
    .show-detail dl dd {
      width: 175px;
      padding-left: 17px;
      line-height: 30px; }
      .show-detail dl dd .detail-item {
        border-top: 1px solid #dcdcdc;
        margin-top: 15px;
        padding-top: 10px; }

.member-position {
  position: relative; }

.tags-box {
  width: 372px;
  background: #FFFFFF;
  border: 1px solid #dcdcdc;
  top: 10px;
  position: absolute;
  z-index: 300;
  font-size: 14px; }
  .tags-box .tags-list {
    max-height: 195px;
    overflow-y: auto;
    position: relative;
    padding-top: 10px;
    border-bottom: 1px solid #dcdcdc; }
    .tags-box .tags-list a {
      text-decoration: underline; }
    .tags-box .tags-list ul li {
      float: left;
      width: 29%;
      margin-left: 15px;
      line-height: 24px; }
      .tags-box .tags-list ul li input {
        float: left;
        margin-right: 2px;
        margin-top: 5px; }
      .tags-box .tags-list ul li label {
        font-weight: normal;
        width: 87px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .tags-box .tags-list .create-tag {
      margin-left: 15px;
      margin-bottom: 5px; }
  .tags-box .tags-foot .button {
    padding: 10px 0 0 20px;
    text-align: left; }
  .tags-box .tags-foot .err {
    padding-left: 20px; }

.tag-arrow {
  display: inline-block;
  position: absolute;
  width: 10px;
  margin-left: 16px;
  border-bottom: 10px solid #dedede;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

.member-position-bottom .tag-arrow {
  top: -25px;
  border-bottom: none;
  border-top: 10px solid #dedede; }
.member-position-bottom .tags-box {
  top: inherit;
  bottom: 25px; }

.select-tags {
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;
  line-height: 26px;
  margin-top: 2px;
  font-size: 12px; }
  .select-tags .member-position-bottom .tag-arrow {
    top: -40px;
    left: -2px;
    border-bottom: none;
    border-top: 10px solid #dedede; }
  .select-tags .member-position-bottom .tags-box {
    top: inherit;
    bottom: 40px;
    left: -12px; }
  .select-tags .show-tag-box {
    display: inline-block;
    height: 26px;
    padding: 0 22px;
    width: 100%;
    background: #fff; }

.disabled-btn {
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */
