/node/wechat/node_modules
/angularUnitTest/node_modules
/node/wechat/gulp/node_modules
/node/wechat/xfywechat/unit-test/bower_components
/node/wechat/xfywechat/unit-test/node_modules
/demos/node-koajs-rest-skeleton/node_modules
/demos/koa-rest/node_modules
/node/es6/node_modules
/node/gulp/node_modules
