<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="renderer" content="webkit">
	<title>微信管家</title>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- inject:html -->
	<!-- any *.html files among your sources will go here as: <link rel="import" href="FILE"> -->
	<!-- endinject -->
	<!-- inject:plugin css -->
	<link rel="stylesheet"  href="../plugins/jquery/css/jquery-ui.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/css/bootstrap-datetimepicker.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/css/daterangepicker.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/css/exp-bootstrap.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/css/font-awesome.min.css">
	<link rel="stylesheet"  href="../plugins/bootstrap/demo/demo.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/qunit/qunit.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/plugins/code/prettify.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/themes/default/default.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/themes/simple/simple.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/skin/classic/firebug.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/skin/light/firebug.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/skin/xp/firebug-1.3a2.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/skin/xp/firebug.IE6.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/skin/xp/firebug.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension/skin/xp/firebug-1.3a2.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension/skin/xp/firebug.IE6.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension/skin/xp/firebug.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension-beta/skin/xp/firebug-1.3a2.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension-beta/skin/xp/firebug.IE6.css">
	<link rel="stylesheet"  href="../plugins/kindeditor/lib/firebug-lite/build/chrome-extension-beta/skin/xp/firebug.css">
	<link rel="stylesheet"  href="../plugins/webuploader/cropper.css">
	<link rel="stylesheet"  href="../plugins/webuploader/webuploader.css">
	<!-- endinject -->
	<!-- inject:program css -->
	<link rel="stylesheet"  href="../app/main/content/css/main.css">
	<link rel="stylesheet"  href="../app/components/content/css/platform.css">
	<link rel="stylesheet"  href="../app/account/content/css/account.css">
	<link rel="stylesheet"  href="../app/materials/content/css/materials.css">
	<link rel="stylesheet"  href="../app/menus/content/css/style.css">
	<link rel="stylesheet"  href="../app/auto-reply/content/css/autoReply.css">
	<link rel="stylesheet"  href="../app/member/content/css/style.css">
	<link rel="stylesheet"  href="../app/mass-message/content/css/mass-message.css">
	<link rel="stylesheet"  href="../app/message/content/css/message.css">
	<link rel="stylesheet"  href="../app/qr-code/content/css/qr-code.css">
	<link rel="stylesheet"  href="../app/message-template/content/css/message-template.css">
	<!-- endinject -->
	<!-- inject:pluginjs -->
	<script type="text/javascript" charset="utf-8" src="../target/frames.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="../target/tools.min.js"></script>
	<!-- endinject -->
</head>
<body ng-app="app">
<div  ng-controller="wechatCtrl">
	<div class="container-fluid c-header">
		<div class="container-fluid c-header">
			<div class="container">
				<a href="index.html" class="c-logo"></a>
				<div class="c-manager">
					<div>
						<span class="wechat-icon" >微信管家 </span>
						<a href="javascript:void(0)"  ng-show="enableSwitchProject" class="c-user-name" ng-click="switchProject(true)">切换</a>
					</div>
					<div>
						<a class="c-user-name" href="javascript:void(0)"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;<span data-ng-bind="dataList.name"></span>&nbsp;&nbsp;欢迎你！</a>
						<a target="_blank" href="{{dataList.formal_domain}}" >网站首页</a>&nbsp;
						<span >｜&nbsp;</span>
						<a href="help.html" >帮助中心</a>
						<span >&nbsp;｜</span>
						<a data-ng-if = "dataList.displayLogoutBtn"  href="javascript:void(0)" ng-click="exit('../j_spring_cas_security_logout')" role="button" >退出</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container c-container">
		<div class="c-menu-container" data-ng-if="showMenus">
			<div data-platform-menu data-ng-model="menuOptions"  ></div>
			<div class="menu-info">
				<!--<div class="menu-info-in" data-ng-if="isWelcome&&leftEdit">-->
				<!--<a href="#">公众账号<br/>-->
				<!--用不了怎么办</a>-->
				<!--</div>-->
				<div class="menu-info-two"  data-ng-if="!isWelcome">
					<a href="javascript:void(0)" data-ng-click="editAccount()">
						<img src="main/content/images/white.png" alt=""/>
						<strong data-ng-bind="currentWechtInfo.nick_name"></strong>
					</a>
				</div>
			</div>
		</div>
		<div class="c-main" data-ng-class="{'main-no-menus':!showMenus}">
			<div platform-bread-nav="breadNavs" data-ng-if="showMenus"></div>
			<div class="c-main-box">
				<ui-view></ui-view>
			</div>
		</div>

	</div>
	<div class="container-fluid c-footer">
		<div class="container">
			<p>@ 微信管家管理后台</p>
			<p>微信管家管理后台V1.1版本&nbsp;&nbsp;深圳市牛商网络股份有限公司</p>
		</div>
	</div>
</div>



<!-- inject:componentjs -->
<!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
<!-- endinject -->

<!-- inject:programjs -->
<script type="text/javascript" charset="utf-8" src="../target/conponent.min.js"></script>
<!-- endinject -->
</body>
</html>
