<div class="body-right-in">
	<form class=" form-validation nsw-form" name="formmaterials" nsw-nav-hint novalidate
	      data-dirty-checker="isDataDirty">
		<tabset>
			<tab select="display(1)" heading="输入内容" active>
			</tab>
		</tabset>
		<div class="tab-form">
			<a href="javascript:void(0)" data-ng-if="checkAuthed('phoneProj')" data-ng-click="switchToReference('phoneProj')">
				&nbsp;&nbsp;选取内容</a>
		</div>
		<div class="nsw-tab-content">
			<div class="nsw-tab-paneactive">
				<div class="form-group" beyond>
					<label class="col-md-2 nsw-label"><span class="err">*</span> 标 题</label>

					<div class="col-sm-8">
						<input type="text" class="form-control" name="title"
						       data-ng-model="option.article.title " ng-maxlength="64" required>

						<div ng-show="formmaterials.title.$dirty&&formmaterials.title.$invalid">
							<span class="err" ng-show="formmaterials.title.$error.required">请填写标题</span>
							<span class="err" ng-show="formmaterials.title.$error.maxlength">标题不能为空且长度不能超过64个字</span>
						</div>
					</div>
					<span class="tip-row-height"><span class="mess-zx">0</span>/64字符</span>
				</div>
				<div class="form-group" beyond>
					<label class="col-md-2 nsw-label"><span class="err">*</span>封面图片</label>

					<div class="col-sm-8">
						<div class="article-img">
							<div class="th-img" nsw-bg="{{option.article.fileId}}">

							</div>
							<a href="javascript:void(0)" img-lib="url" ng-model="option.article.fileId" required
							   class="add-img clear-webuploader-pick"><span class="glyphicon glyphicon-plus"></span>选择图片</a>
						</div>
						<p data-ng-show="option.selectedIndex===0" class="info">（图片大小建议尺寸：900像素*500像素）</p>

						<p data-ng-show="option.selectedIndex!==0" class="info">（图片大小建议尺寸：200像素*200像素）</p>

						<div class="checkbox">
							<label>
								<input type="checkbox" data-ng-model="option.article.show_cover_pic"> 封面图片显示在正文中
							</label>
						</div>
					</div>
				</div>
				<div class="form-group" beyond data-ng-if="currentItem.articles.length<2">
					<label class="col-md-2 nsw-label">摘 要</label>

					<div class="col-sm-8">
								<textarea class="materials-textarea form-control" name=""
								          data-ng-model="option.article.digest" maxlength="120">
								</textarea>
					</div>
					<span class="tip-row-height"><span class="mess-zx">0</span>/120字符</span>
				</div>
				<div class="form-group" beyond>
					<label class="col-sm-2 nsw-label">内容录入</label>

					<div class="col-sm-8">
						<label class="radio-inline">
							<input type="radio" name="verify_type_info" ng-value="true"
							       ng-model="option.article.isArticle"> 正文
						</label>
						<label class="radio-inline">
							<input type="radio" name="verify_type_info" ng-value="false"
							       ng-model="option.article.isArticle"> URL地址
						</label>
					</div>
				</div>
				<div class="form-group" data-ng-if="option.article.isArticle">
					<label class="col-md-2 nsw-label"><span class="err">*</span>正文</label>

					<div class="col-sm-9">
						<div platform-kindeditor class="materials-keditor" name="materials-textarea"
						     data-height="356" data-k-maximum-words="20000"
						     data-ng-model="option.article.content" required>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="hasUrl" data-ng-change="hasUrl()"
								       ng-model="option.article.hasUrl"/> 原文链接
							</label>
						</div>
					</div>

				</div>
				<div class="form-group" data-ng-show="option.article.hasUrl&&option.article.isArticle">
					<label class="col-sm-3 col-md-2 nsw-label">原文地址</label>

					<div class="col-sm-8">
						<input type="text" data-ng-click="isContentChanged(option.article)" placeholder="http://"
						       class="form-control" name="content_source_url"
						       data-ng-model="option.article.content_source_url ">
					</div>
				</div>
				<div class="form-group" beyond data-ng-if="!option.article.isArticle">
					<label class="col-sm-3 col-md-2 nsw-label"><span class="err">*</span>URL地址</label>

					<div class="col-sm-8">
						<input type="text"
						       data-ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)?(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"
						       placeholder="http://" ng-click="isArticleChanged(option.article)"
						       class="form-control" name="otherUrl" data-ng-model="option.article.otherUrl"
						       required>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group nsw-form-but-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-warning nsw-btn"
				        data-ng-disabled="!(formmaterials.$valid&&(formmaterials.$dirty || isDataDirty()))"
				        ng-click="saveArticles()"><label class="nsw-btn-save-icon"></label><span
						class="nsw-btn-text">保&nbsp;存</span></button>
				<button class="btn nsw-btn btn-default btn-cancel"
				        data-ng-disabled="!(formmaterials.$valid)||!valiPreveiw" platform-preview
				        data-information="currentItem"><span
						class="glyphicon glyphicon-zoom-in nsw-btn-text"></span><span
						class="nsw-btn-text nsw-btn-text-black">预览</span></button>
				<button class="btn btn-default nsw-btn btn-cancel" data-ng-click="resetForm()"><label
						class="nsw-btn-cancal-icon"></label><span
						class="nsw-btn-text nsw-btn-text-black">清除内容</span></button>
			</div>
		</div>
	</form>
</div>