<div class="authorize-explain">
	<div class="top">
		<button class="btn btn-warning" data-ng-click="create()">微信公众号授权</button>
		<p>授权公众号，您可享受比微信公众平台更多的功能</p>
	</div>
	<div class="mid">
		<h3><span>授权条件</span></h3>
		<p>
			1. 拥有一个微信公众号 <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=register/step1_tmpl&lang=zh_CN ">如何申请？</a> <br/>
			2. 授权登录不会对您的公众号造成任何影响！<br/>
			3. 公众号授权登录需公众号的管理员扫码完成，请确保您是管理员或可以联系他帮您完成授权<br/>
			4. 微信为不同类型的公众号提供不同的接口权限，我们以此提供的功能亦不同
		</p>

	</div>
</div>